/.vs
/.vscode
/Debug
/Release
/x64
/Directx11Engine/.vs
/Directx11Engine/Debug
/Directx11Engine/Release
/Directx11Engine/x64
/Directx11Engine/Directx11Engine/Debug
/Directx11Engine/Directx11Engine/Release
/Directx11Engine/Directx11Engine/x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.exe
*.suo
*.db
*.opendb
*.ipch
*.ilk
*.log
*.pdb
*.tlog
*.vcxproj.CopyComplete
*.vcxproj.FileListAbsolute.txt
*.obj
*.p7s
